<h3>Testes <%= @date.to_date %> - <%= @level %> - <%= @type %> - <%= @stage %></h3>
<table class="table compact-columns">
  <thead>
    <tr>
      <th scope="col" class="col-small">Comp. Curricular</th>
      <th scope="col" class="col-small">Professor</th>
      <th scope="col" class="col-small">Turno</th>
      <th scope="col" class="col-small">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject[:name] %></td>
        <td><%= subject[:professor] %></td>
        <td><%= subject[:shift] %></td>
        <td><%= subject[:status] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/navigation_links' %>

<style>
  .compact-columns {
    width: auto; /* Ensures table is only as wide as necessary */
    border-collapse: collapse;
    margin-left: 0; /* Aligns the table to the left */
  }

  .compact-columns th,
  .compact-columns td {
    padding: 5px; /* Minimize padding */
    text-align: center; /* Center text for a cleaner look */
  }

  /* Explicitly define column widths */
  .compact-columns .col-small {
    width: 100px; /* Adjust this value based on the content */
  }

  /* Optional: Add borders for better visualization */
  .compact-columns th,
  .compact-columns td {
    border: 1px solid #ddd;
  }
</style>
