<!DOCTYPE html>
<html>
  <head>
    <title>Gest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>&copy; <%= Time.now.year %> Gest | Todos os direitos reservados</p>
     
    </footer>
  </body>
</html>
